#home {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: center/cover url("https://images.pexels.com/photos/7583935/pexels-photo-7583935.jpeg?auto=compress&cs=tinysrgb&w=600");

    section {
        background: rgba(0, 0, 0, 0.7);
        height: 80%;
        width: 35%;
        padding: 0px $md;
    }

    .homeLogo {
        text-align: center;
    }

    .cube {
        font-size: 8rem;
        color: $orange;
        text-align: center;
    }

    h1 {
        font-weight: bold;
        font-size: $lg;
        text-align: center;
        color: $off-white;
    }

    .play-button-container {
        width: 100%;
    }

    a.play-button {
        background: $green;
        color: #fff;
        cursor: pointer;
        display: block;
        border-radius: $bradius;
        text-align: center;
        padding: $normal;
        transition: 0.3s all linear;
        
        &:hover {
            background: darken($green , 20%) ;
        }
    }
    

    .auth-container {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-top: $normal;

        #login-button {
            background: $red;
            &:hover {
                background: darken($red, 10%);
            }
        }

        #signup-button {
            background: $blue;
            &:hover {
                background: darken($blue, 10%);
            }
        }

        .auth-buttons {
            color: #fff;
            padding: $normal 0px;
            cursor: pointer;
            width: 45%;
            text-align: center;
        transition: 0.3s all linear;
            border-radius: $bradius;
        }
    }
}


@media (max-width:768px) {
    
}